/.debhelper/
/debhelper-build-stamp
/files
/librockchip-mpp-dev.substvars
/librockchip-mpp-dev/
/librockchip-mpp-static.substvars
/librockchip-mpp-static/
/librockchip-mpp1.substvars
/librockchip-mpp1/
/librockchip-mpp-examples.substvars
/librockchip-mpp-examples/
/librockchip-vpu0.substvars
/librockchip-vpu0/
/tmp/
